config CRYPTO_DEV_HISILICON
	tristate "Support for Hiliscon HAC devices"

config CRYPTO_DEV_WD_COMMON
	tristate "Support for WrapDrive Framework"
	depends on VFIO_MDEV_DEVICE
	help
	  Support for WrapDrive Framework

	  To compile this as a module, choose M here: the module
	  will be called wd_common.

config CRYPTO_DEV_WD_DUMMY
	tristate "Support for WD Dummy Driver"
	depends on CRYPTO_DEV_WD_COMMON && VFIO_NOIOMMU
	help
	  Support for WD Dummy Driver

	  To compile this as a module, choose M here: the module
	  will be called wd_dummy.
