config CRYPTO_DEV_HISILICON
	tristate "Support for HISILICON CRYPTO ACCELERATOR"
	help
	  Enable this to use Hisilicon Hardware Accelerators

config CRYPTO_DEV_HISI_QM
	tristate
	depends on ARM64 && PCI

config CRYPTO_DEV_HISI_ZIP
	tristate "Support for HISI ZIP Driver"
	depends on ARM64 && CRYPTO_DEV_HISILICON
	select CRYPTO_DEV_HISI_QM
	help
	  Support for HiSilicon HIP08 ZIP Driver
